{% extends 'comments/_layouts/settings' %}

{% import '_includes/forms' as forms %}
{% import 'verbb-base/_macros' as macros %}

{% requireAdmin %}

{% set selectedTab = selectedTab ?? craft.app.request.getSegment(3) %}
{% set selectedTab = selectedTab ?: 'general' %}
{% set fullPageForm = true %}
{% set pageTabs = {
    general: { title: 'General Settings' | t('comments'), url: url('comments/settings') },
    notifications: { title: 'Notifications' | t('comments'), url: url('comments/settings/notifications') },
    voting: { title: 'Voting' | t('comments'), url: url('comments/settings/voting') },
    flagging: { title: 'Flagging' | t('comments'), url: url('comments/settings/flagging') },
    templatesHeading: { heading: 'Templates' | t('comments') },
    'comments-form': { title: 'Comments Form' | t('comments'), url: url('comments/settings/comments-form') },
    'templates-default': { title: 'Default Templates' | t('comments'), url: url('comments/settings/templates-default') },
    'templates-custom': { title: 'Custom Templates' | t('comments'), url: url('comments/settings/templates-custom') },
    securityHeading: { heading: 'Security' | t('comments') },
    security: { title: 'Security & Spam' | t('comments'), url: url('comments/settings/security') },
    permissions: { title: 'Permissions' | t('comments'), url: url('comments/settings/permissions') },
} %}
{% set pageTitle = pageTabs[selectedTab].title ?? null %}
{% if not pageTitle %}{% exit 404 %}{% endif %}
{% set pageAction = 'comments/settings/save-settings' %}
{% set pageUrl = selectedTab == 'general' ? 'comments/settings' : 'comments/settings/' ~ selectedTab %}

{% block settingsContent %}
    {% set pane = selectedTab %}
    {% include 'comments/settings/_panes/' ~ pane ignore missing %}
{% endblock %}
