{% import '_includes/forms' as forms %}
{% import 'verbb-base/_macros' as macros %}

{{ forms.lightswitchField({
    first: true,
    label: 'Enable Flagging' | t('comments'),
    instructions: 'Allow your users to flag a comment as inappropriate, spam, or any other reason.' | t('comments'),
    name: 'allowFlagging',
    on: settings.allowFlagging,
    warning: macros.configWarning('allowFlagging', 'comments'),
}) }}

{{ forms.lightswitchField({
    label: 'Enable Guest Flagging' | t('comments'),
    instructions: 'Allow guest (guest) users to flag a comment as inappropriate, spam, or any other reason.' | t('comments'),
    name: 'allowGuestFlagging',
    on: settings.allowGuestFlagging,
    warning: macros.configWarning('allowGuestFlagging', 'comments'),
}) }}

{{ forms.textField({
    label: 'Flagged Comments Threshold' | t('comments'),
    id: 'flaggedCommentLimit',
    name: 'flaggedCommentLimit',
    instructions: "Users can flag a comment as inappropriate. After the provided amount of flags are received for a comment, the 'isFlagged' property for the comment will be true. You can then decide how to handle a flagged comment." | t('comments'),
    value: settings.flaggedCommentLimit,
    warning: macros.configWarning('flaggedCommentLimit', 'comments'),
}) }}