{% import '_includes/forms' as forms %}
{% import 'verbb-base/_macros' as macros %}

{{ forms.lightswitchField({
    first: true,
    label: 'Allow Guest Comments' | t('comments'),
    instructions: 'Guest users can post a comment.' | t('comments'),
    name: 'allowGuest',
    on: settings.allowGuest,
    warning: macros.configWarning('allowGuest', 'comments'),
    toggle: 'allow-guest',
    reverseToggle: 'allow-guest-none',
}) }}

<div id="allow-guest" style="margin-top: 24px;" {% if not settings.allowGuest %}class="hidden"{% endif %}>
    {{ forms.lightswitchField({
        label: 'Show Email and Name for Guests' | t('comments'),
        instructions: 'Guests are shown fields to enter their name and email. Only applicable for guest comments.' | t('comments'),
        name: 'guestShowEmailName',
        on: settings.guestShowEmailName,
        warning: macros.configWarning('guestShowEmailName', 'comments'),
        toggle: 'require-email-name',
    }) }}

    {{ forms.lightswitchField({
        label: 'Require Email and Name for Guests' | t('comments'),
        instructions: 'Guests are required to enter their name and email. Only applicable for guest comments.' | t('comments'),
        name: 'guestRequireEmailName',
        on: settings.guestRequireEmailName,
        warning: macros.configWarning('guestRequireEmailName', 'comments'),
    }) }}
</div>

<div id="allow-guest-none" style="margin-top: 24px;" {% if settings.allowGuest %}class="hidden"{% endif %}>
    {{ forms.textField({
        label: 'Guest Notice' | t('comments'),
        id: 'guestNotice',
        name: 'guestNotice',
        instructions: 'This text will be shown to guests, informing that they are unable to comment.' | t('comments'),
        value: settings.guestNotice,
        warning: macros.configWarning('guestNotice', 'comments'),
    }) }}
</div>

<hr>

{{ forms.lightswitchField({
    label: 'Comments Require Moderation' | t('comments'),
    instructions: 'All comments require manual approval before being publicly visible.' | t('comments'),
    name: 'requireModeration',
    on: settings.requireModeration,
    toggle: 'moderator-groups',
    warning: macros.configWarning('requireModeration', 'comments'),
}) }}

<div id="moderator-groups"{% if not settings.requireModeration %} class="hidden"{% endif %}>
    {% set groups = [{ label: 'None' | t('comments'), value: '' }] %}
    {% for group in craft.app.userGroups.getAllGroups() %}
        {% set groups = groups | merge([{ label: group.name, value: group.uid }]) %}
    {% endfor %}

    {{ forms.selectField({
        label: 'Moderator User Group' | t('comments'),
        instructions: 'Select the user group that should be classified as moderators. The will determine who notifications should be sent to.' | t('comments'),
        id: 'moderatorUserGroup',
        name: 'moderatorUserGroup',
        value: settings.moderatorUserGroup,
        errors: settings.getErrors('moderatorUserGroup'),
        options: groups,
        warning: macros.configWarning('moderatorUserGroup', 'comments'),
    }) }}
</div>

<hr>

{{ forms.textField({
    label: 'Auto-close Comments' | t('comments'),
    id: 'autoCloseDays',
    name: 'autoCloseDays',
    instructions: 'Comments can be automatically closed on elements older than the provided amount of days. Leave empty to disable.' | t('comments'),
    value: settings.autoCloseDays,
    warning: macros.configWarning('autoCloseDays', 'comments'),
}) }}

{{ forms.textField({
    label: 'Maximum Reply Depth' | t('comments'),
    id: 'maxReplyDepth',
    name: 'maxReplyDepth',
    instructions: 'Set the number of levels (depth) replies to comments can have. Leave empty for no restrictions, 0 to disable replies, or any number to limit how many levels of replies can be made.' | t('comments'),
    value: settings.maxReplyDepth,
    warning: macros.configWarning('maxReplyDepth', 'comments'),
}) }}

{{ forms.textField({
    label: 'Maximum Comments per-user' | t('comments'),
    id: 'maxUserComments',
    name: 'maxUserComments',
    instructions: 'Set the number of comments each user is allowed for each owner element. Leave empty for no restrictions.' | t('comments'),
    value: settings.maxUserComments,
    warning: macros.configWarning('maxUserComments', 'comments'),
}) }}

<a class="fieldtoggle" data-target="structure-info">{{ 'Structure Info' | t('comments') }}</a>

<div id="structure-info" class="hidden">
    <p class="warning with-icon">{{ 'These values should not be altered manually. If for some reason they are empty, you can run the following commend to re-generate these values: <code>php craft comments/base/resave-structure</code>' | t('comments') | raw }}</p>

    {{ forms.textField({
        label: 'Structure UID' | t('comments'),
        id: 'structureUid',
        instructions: 'The UID for the internal structure used by Comments.' | t('comments'),
        value: settings.structureUid,
        warning: macros.configWarning('structureUid', 'comments'),
    }) }}

    {{ forms.textField({
        label: 'Structure ID' | t('comments'),
        id: 'structureId',
        instructions: 'The ID for the internal structure used by Comments.' | t('comments'),
        value: settings.structureId,
        warning: macros.configWarning('structureId', 'comments'),
    }) }}
</div>

