{% import '_includes/forms' as forms %}
{% import 'verbb-base/_macros' as macros %}

{{ forms.lightswitchField({
    first: true,
    label: 'Allow guest comments' | t('comments'),
    instructions: 'Guest users can post a comment.' | t('comments'),
    name: 'allowGuest',
    on: settings.allowGuest,
    warning: macros.configWarning('allowGuest', 'comments'),
}) }}

{{ forms.lightswitchField({
    label: 'Show email and name for guests' | t('comments'),
    instructions: 'Guests are shown fields to enter their name and email. Only applicable for guest comments.' | t('comments'),
    name: 'guestShowEmailName',
    on: settings.guestShowEmailName,
    warning: macros.configWarning('guestShowEmailName', 'comments'),
}) }}

{{ forms.lightswitchField({
    label: 'Require email and name for guests' | t('comments'),
    instructions: 'Guests are required to enter their name and email. Only applicable for guest comments.' | t('comments'),
    name: 'guestRequireEmailName',
    on: settings.guestRequireEmailName,
    warning: macros.configWarning('guestRequireEmailName', 'comments'),
}) }}

<hr>

{{ forms.lightswitchField({
    label: 'Comments require moderation' | t('comments'),
    instructions: 'All comments require manual approval before being publicly visible.' | t('comments'),
    name: 'requireModeration',
    on: settings.requireModeration,
    toggle: 'moderator-groups',
    warning: macros.configWarning('requireModeration', 'comments'),
}) }}

<div id="moderator-groups"{% if not settings.requireModeration %} class="hidden"{% endif %}>
    {% set groups = [{ label: "None" | t('comments'), value: '' }] %}
    {% for group in craft.app.userGroups.getAllGroups() %}
        {% set groups = groups | merge([{ label: group.name, value: group.uid }]) %}
    {% endfor %}

    {{ forms.selectField({
        label: 'Moderator User Group' | t('comments'),
        instructions: 'Select the user group that should be classified as moderators. The will determine who notifications should be sent to.' | t('comments'),
        id: 'moderatorUserGroup',
        name: 'moderatorUserGroup',
        value: settings.moderatorUserGroup,
        errors: settings.getErrors('moderatorUserGroup'),
        options: groups,
        warning: macros.configWarning('moderatorUserGroup', 'comments'),
    }) }}
</div>

<hr>

{{ forms.textField({
    label: "Auto-close comments" | t('comments'),
    id: 'autoCloseDays',
    name: 'autoCloseDays',
    instructions: "Comments can be automatically closed on elements older than the provided amount of days. Leave empty to disable." | t('comments'),
    value: settings.autoCloseDays,
    warning: macros.configWarning('autoCloseDays', 'comments'),
}) }}

