{% import '_includes/forms' as forms %}
{% import 'comments/_macros' as macros %}

{{ forms.lightswitchField({
    first: true,
    label: "Enable Author Notifications" | t('comments'),
    instructions: "Authors receive an email for every new comment. Edit the content of this email through [System Messages]({link})." | t('comments', { link: url('utilities/system-messages') }),
    id: 'notificationAuthorEnabled',
    name: 'notificationAuthorEnabled',
    on: settings.notificationAuthorEnabled,
    onLabel: "Enable" | t('comments'),
    offLabel: "Disable" | t('comments'),
    warning: macros.configWarning('notificationAuthorEnabled', 'comments'),
}) }}

{{ forms.lightswitchField({
    first: true,
    label: "Enable Reply Notifications" | t('comments'),
    instructions: "Users receive an email when someone replies to their comment. Edit the content of this email through [System Messages]({link})." | t('comments', { link: url('utilities/system-messages') }),
    id: 'notificationReplyEnabled',
    name: 'notificationReplyEnabled',
    on: settings.notificationReplyEnabled,
    onLabel: "Enable" | t('comments'),
    offLabel: "Disable" | t('comments'),
    warning: macros.configWarning('notificationReplyEnabled', 'comments'),
}) }}

{{ forms.lightswitchField({
    first: true,
    label: "Show Subscribe/Unsubscribe Checkbox" | t('comments'),
    instructions: "Whether to show a Subscribe/Unsubscribe checkbox in the comments form. This will allow users to manage their email notifications per-comment." | t('comments'),
    id: 'showReplyNotificationCheckbox',
    name: 'showReplyNotificationCheckbox',
    on: settings.showReplyNotificationCheckbox,
    onLabel: "Enable" | t('comments'),
    offLabel: "Disable" | t('comments'),
    warning: macros.configWarning('showReplyNotificationCheckbox', 'comments'),
}) }}
