{% import '_includes/forms' as forms %}
{% import 'verbb-base/_macros' as macros %}

{{ forms.lightswitchField({
    first: true,
    label: "Enable Author Notifications" | t('comments'),
    instructions: "Authors receive an email for every new comment. Edit the content of this email through [System Messages]({link})." | t('comments', { link: url('utilities/system-messages') }),
    id: 'notificationAuthorEnabled',
    name: 'notificationAuthorEnabled',
    on: settings.notificationAuthorEnabled,
    warning: macros.configWarning('notificationAuthorEnabled', 'comments'),
}) }}

{{ forms.lightswitchField({
    label: "Enable Reply Notifications" | t('comments'),
    instructions: "Users receive an email when someone replies to their comment. Edit the content of this email through [System Messages]({link})." | t('comments', { link: url('utilities/system-messages') }),
    id: 'notificationReplyEnabled',
    name: 'notificationReplyEnabled',
    on: settings.notificationReplyEnabled,
    warning: macros.configWarning('notificationReplyEnabled', 'comments'),
}) }}

<hr>

<h3>{{ 'Subscribing' | t('comments') }}</h3>

{{ forms.lightswitchField({
    label: "Auto-Subscribe Users to all Comments" | t('comments'),
    instructions: "Whether to automatically subscribe users to notifications after they have commented, whenever a comment in made on an element. For example, any time another user makes a comment on an entry, all users who have also commented will receive a notification." | t('comments'),
    id: 'notificationSubscribeAuto',
    name: 'notificationSubscribeAuto',
    on: settings.notificationSubscribeAuto,
    warning: macros.configWarning('notificationSubscribeAuto', 'comments'),
}) }}

{{ forms.lightswitchField({
    label: "Auto-Subscribe Users to Replies only on their Comments" | t('comments'),
    instructions: "Whether to automatically subscribe to notifications on comments that the user owns. This means, any time another user replies to a comment they own, they'll receive a notification." | t('comments'),
    id: 'notificationSubscribeDefault',
    name: 'notificationSubscribeDefault',
    on: settings.notificationSubscribeDefault,
    warning: macros.configWarning('notificationSubscribeDefault', 'comments'),
}) }}

{{ forms.lightswitchField({
    label: "Allow Subscriber Notifications" | t('comments'),
    instructions: "Users can subscribe to any comment made on an element. This will display a 'Subscribe' button at the top of your comments thread. Shown only for logged in users." | t('comments'),
    id: 'notificationSubscribeEnabled',
    name: 'notificationSubscribeEnabled',
    on: settings.notificationSubscribeEnabled,
    warning: macros.configWarning('notificationSubscribeEnabled', 'comments'),
}) }}

{{ forms.lightswitchField({
    label: "Allow Per-Comment Subscriber Notifications" | t('comments'),
    instructions: "Users can subscribe to a specific thread of comments made on an element. This will display a 'Subscribe' button for each comment. Shown only for logged in users." | t('comments'),
    id: 'notificationSubscribeCommentEnabled',
    name: 'notificationSubscribeCommentEnabled',
    on: settings.notificationSubscribeCommentEnabled,
    warning: macros.configWarning('notificationSubscribeCommentEnabled', 'comments'),
}) }}

<hr>

<h3>{{ 'Moderators' | t('comments') }}</h3>

{{ forms.lightswitchField({
    first: true,
    label: "Enable Moderator Notifications" | t('comments'),
    instructions: "Whether a nominated user group should receive an email when a new comment has been made, and needs to be moderated. Note this will override author notifications, who shouldn't receive the notification until its been approved." | t('comments'),
    id: 'notificationModeratorEnabled',
    name: 'notificationModeratorEnabled',
    on: settings.notificationModeratorEnabled,
    warning: macros.configWarning('notificationModeratorEnabled', 'comments'),
}) }}

{{ forms.lightswitchField({
    label: "Enable Moderator-Approved Notifications" | t('comments'),
    instructions: "Authors receive an email when the moderator has approved a comment." | t('comments'),
    id: 'notificationModeratorApprovedEnabled',
    name: 'notificationModeratorApprovedEnabled',
    on: settings.notificationModeratorApprovedEnabled,
    warning: macros.configWarning('notificationModeratorApprovedEnabled', 'comments'),
}) }}

<hr>

<h3>{{ 'Administrators' | t('comments') }}</h3>

{{ forms.editableTableField({
    label: 'Comment Administrators' | t('comments'),
    instructions: 'Enter the email address of any administrators, used for the below settings.' | t('comments'),
    name: 'notificationAdmins',
    id: 'notificationAdmins',
    cols: {
        email: {
            type: 'singleline',
            heading: 'Email Address' | t('comments'),
        },
        enabled: {
            type: 'lightswitch',
            heading: 'Enabled' | t('comments'),
            thin: true,
        },
    },
    rows: settings.notificationAdmins,
    errors: settings.getErrors('notificationAdmins'),
    warning: macros.configWarning('notificationAdmins', 'comments'),
})|spaceless }}

{{ forms.lightswitchField({
    label: 'Enable Admin Notifications' | t('comments'),
    instructions: 'Admins will receive an email whenever someone makes a comment on an element. Edit the content of this email through [System Messages]({link}).' | t('comments', { link: url('utilities/system-messages') }),
    id: 'notificationAdminEnabled',
    name: 'notificationAdminEnabled',
    on: settings.notificationAdminEnabled,
    warning: macros.configWarning('notificationAdminEnabled', 'comments'),
}) }}

{{ forms.lightswitchField({
    label: 'Enable Flagged Notifications' | t('comments'),
    instructions: 'Admins will receive an email whenever someone flags a comment. Edit the content of this email through [System Messages]({link}).' | t('comments', { link: url('utilities/system-messages') }),
    id: 'notificationFlaggedEnabled',
    name: 'notificationFlaggedEnabled',
    on: settings.notificationFlaggedEnabled,
    warning: macros.configWarning('notificationFlaggedEnabled', 'comments'),
}) }}
