{% import '_includes/forms' as forms %}
{% import 'verbb-base/_macros' as macros %}

{{ forms.textField({
    first: true,
    label: 'Template Folder Override' | t('comments'),
    instructions: 'For greater control over your comments and how they are displayed, you can provide a path to your own templates in the below folder.' | t('comments'),
    id: 'templateFolderOverride',
    name: 'templateFolderOverride',
    placeholder: '_comments',
    value: settings.templateFolderOverride,
    warning: macros.configWarning('templateFolderOverride', 'comments'),
}) }}

{{ forms.textField({
    label: 'HTML Email Template' | t('comments'),
    instructions: 'The template Comments will use for HTML emails.' | t('comments'),
    id: 'templateEmail',
    name: 'templateEmail',
    value: settings.templateEmail,
    warning: macros.configWarning('templateEmail', 'comments'),
}) }}
