{% import '_includes/forms' as forms %}
{% import 'verbb-base/_macros' as macros %}

<p>{{ 'The default templates are what is used when calling `craft.comments.render()`, and automatically outputs CSS and JS code in your templates. If you want full control over your templates, use [Custom Templates]({link}).' | t('comments', { link: url('comments/settings#tab-templates-custom') }) | md }}</p>

{{ forms.lightswitchField({
    label: 'Show Avatar' | t('comments'),
    instructions: 'Whether to show an avatar for comments. Craft users who comment will have their user profile image shown, while guests will show a placeholder (be sure to add one below).' | t('comments'),
    name: 'showAvatar',
    on: settings.showAvatar,
    warning: macros.configWarning('showAvatar', 'comments'),
    toggle: 'avatar-fields',
}) }}

<div id="avatar-fields" class="field {{ not settings.showAvatar ? 'hidden' }}">
    {{ forms.elementSelectField({
        label: 'Placeholder Avatar' | t('comments'),
        instructions: 'If a guest is making a comment, this will be shown as their avatar.' | t('comments'),
        id: 'placeholderAvatar',
        name: 'placeholderAvatar',
        elements: [settings.getPlaceholderAvatar()],
        elementType: 'craft\\elements\\Asset',
        selectionLabel: 'Choose placeholder avatar' | t('comments'),
        sources: '*',
        criteria: {
            kind: [],
            enabledForSite: null,
            siteId: null,
        },
        limit: 1,
        jsClass: 'Craft.AssetSelectInput',
        modalStorageKey: 'comments.placeholderAvatar',
        warning: macros.configWarning('placeholderAvatar', 'comments'),
    }) }}

    {{ forms.lightswitchField({
        label: 'Enable Gravatar Support' | t('comments'),
        instructions: 'Whether to enable Gravatar support. We‘ll try and fetch the users‘ Gravatar, based on their email. If they don‘t have a Gravatar, their user profile or placeholder avatar will be used.' | t('comments'),
        name: 'enableGravatar',
        on: settings.enableGravatar,
        warning: macros.configWarning('enableGravatar', 'comments'),
    }) }}
</div>

{{ forms.lightswitchField({
    label: 'Show Time Ago' | t('comments'),
    instructions: 'Whether to show how long ago a comment was made.' | t('comments'),
    name: 'showTimeAgo',
    on: settings.showTimeAgo,
    warning: macros.configWarning('showTimeAgo', 'comments'),
}) }}

<hr>

<h3>{{ 'CSS/JS Resources' | t('comments') }}</h3>

<p><strong class="warning">{{ 'Warning' | t('comments') }}: </strong>{{ 'If disabling any of these options, you‘ll need to supply your own CSS or JS in order for the form and comments functionality to look and work correctly.' | t('comments') }}</p>

{{ forms.lightswitchField({
    label: 'Output Default CSS' | t('comments'),
    instructions: 'Whether to output the default CSS for the form.' | t('comments'),
    name: 'outputDefaultCss',
    on: settings.outputDefaultCss,
    warning: macros.configWarning('outputDefaultCss', 'comments'),
}) }}

{{ forms.lightswitchField({
    label: 'Output Default JS' | t('comments'),
    instructions: 'Whether to output the default JS for the form.' | t('comments'),
    name: 'outputDefaultJs',
    on: settings.outputDefaultJs,
    warning: macros.configWarning('outputDefaultJs', 'comments'),
}) }}
