{% import '_includes/forms' as forms %}
{% import 'verbb-base/_macros' as macros %}

{% set groups = craft.fields.getAllGroups('id') %}

{% set elementType = craft.elements.getElementType('Comments_Comment') %}

<p>{{ 'Select which users are able to make comments, site-wide.' | t('comments') }}</p>

<div id="user-permissions" class="field">
    <h3>Users</h3>

    <ul class="indent">
        {% for user in craft.users %}
            <li>
                {{ forms.checkbox({
                    label: user.name,
                    name: 'users[' ~ user.id ~ ']',
                    checked: (settings.users[user.id] is defined) ? settings.users[user.id] : true
                }) }}
            </li>
        {% endfor %}
    </ul>
</div>

<p>Or, you can set per User Group.</p>

<div id="user-permissions" class="field">
    <h3>User Group</h3>
    
    <ul class="indent">
        {% for group in craft.userGroups.getAllGroups %}
            <li>
                {{ forms.checkbox({
                    label: group.name,
                    name: 'users[' ~ group.id ~ ']',
                    checked: (settings.users[group.id] is defined) ? settings.users[group.id] : true
                }) }}
            </li>
        {% endfor %}
    </ul>
</div>
