{% set label = element.label() %}
{% set instructions = element.instructions() %}
{% set required = element.required %}

{% if label == '__blank__' %}
    {% set label = null %}
{% endif %}

{% if label and settings.showCustomFieldNames %}
    <div class="cc-f-label">{{ label }} {% if required %}<span class="cc-f-label-r">*</span>{% endif %}</div>
{% endif %}

<textarea class="cc-f-textarea" name="fields[comment]" placeholder="{{ instructions }}" {% if required %}required{% endif %}></textarea>
<div data-role="errors" class="cc-e"></div>