// ==========================================================================

// Comments for Craft CMS
// Author: Verbb - https://verbb.io/

// ==========================================================================

// ==========================================================================
// Comments Element Index
// ==========================================================================

.status.approved {
    background-color: #27AE60;
    border-color: transparent !important;
}

.status.spam {
    background-color: #0F7CCC;
    border-color: transparent !important;
}

.status.trashed {
    background-color: #D0021B;
    border-color: transparent !important;

    body.use-shapes & {
        border-radius: 1px;
    }
}


.elements .element[data-type="verbb\\comments\\elements\\Comment"] {
    display: none;
}

//
// Custom title
//

.content-pane .elements td[data-titlecell] .element {
    display: none;
}

.elements .tableview .toggle {
    top: 5px;
}

.comments-widget .comment-block,
.content-pane .elements .comment-block {
    position: relative;
    margin-left: 5px;

    .status {
        position: absolute;
        top: 5px;
        left: 0;
    }
    
    a {
        margin-left: 20px;
        display: block;

        small {
            color: #aaa;
            font-size: 85%;
            display: block;
        }

        &:hover {
            text-decoration: none;
        }

        &:hover small {
            color: #666;
            text-decoration: none;
        }

        &:hover span {
            text-decoration: underline;
        }
    }
}

//
// Edit Comments
//

#details .meta.comments-meta {
    padding-top: 24px;
    padding-bottom: 24px;
}

.comments-meta hr {
    margin: 15px 0;
}


// ==========================================================================
// Comments Settings
// ==========================================================================

.comments-settings-tabs li {
    width: 100%;
    max-width: 100% !important;
}


// ==========================================================================
// Comments Widget
// ==========================================================================

.comments-widget .comment-block {
    margin-left: 0;
    margin-bottom: 10px;

    &:last-child {
        margin-bottom: 0;
    }
}

