// ==========================================================================

// Comments for Craft CMS
// Author: Verbb - https://verbb.io/

// ==========================================================================

@keyframes cc-loading {
    0% {
        transform: rotate(0)
    } 100% {
        transform: rotate(360deg)
    }
}

// Namespace everything
.cc-w {

// Opinionated Resets
@import "reset";

color: #2a2e2e;
font-size: 15px;

a, .cc-a {
    color: #3273dc;

    &:hover,
    &:active {
        color: #363636;
    }
}


// ==========================================================================
// Threaded Comments
// ==========================================================================

.cc-i {
    margin-top: 0.75rem;
    padding-top: 0.75rem;
    border-top: 1px solid rgba(219, 219, 219, 0.5);
}

.cc-w-i > .cc-i:first-child {
    margin-top: 0;
    padding-top: 0;
    border-top: none;
}

&.no-avatar .cc-i .cc-i {
    margin-left: 3rem;
}

.cc-i-wrap {
    overflow: hidden;
}

.cc-i-header,
.cc-i-footer,
.cc-v,
.cc-ll {
    display: flex;
    align-items: center;
}

// Editing
.cc-i-comment > .cc-i {
    margin-top: 0;
    padding-top: 0;
    border-top: none;
}

.cc-i-header,
.cc-i-footer {
    font-size: 0.875em;
}

.cc-i-body {
    padding: 3px 0 7px;
}


//
// Avatars
//

.cc-i-figure {
    float: left;
    margin-right: 0.75rem;
}

.cc-i-image {
    display: block;
    position: relative;
    width: 48px;
    height: 48px;
    border-radius: 4px;
    overflow: hidden;
}

// Nested greater than 1
.cc-i .cc-i .cc-i-image {
    width: 36px;
    height: 36px;
}

.cc-i-img img {
    display: block;
    height: auto;
    width: 100%;
}

// Placeholder
.cc-i-image-icon {
    background: #949ea7;

    &::after {
        content: '';
        width: 100%;
        height: 100%;
        background-size: 80%;
        background-position: 50% 100%;
        background-color: #e2e7ea;
        display: block;
        background-repeat: no-repeat;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3Cpath fill='%23949ea7' d='M224 256c70.7 0 128-57.3 128-128S294.7 0 224 0 96 57.3 96 128s57.3 128 128 128zm89.6 32h-16.7c-22.2 10.2-46.9 16-72.9 16s-50.6-5.8-72.9-16h-16.7C60.2 288 0 348.2 0 422.4V464c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48v-41.6c0-74.2-60.2-134.4-134.4-134.4z'%3E%3C/path%3E%3C/svg%3E");
    }
}


//
// Linked Lists
//

.cc-ll-i {
    display: inline-flex;
    
    &::before {
        content: '·';
        font-size: 0.875em;
        padding: 0 5px;
    }
}


//
// Header
//

.cc-i-header-links {
    display: none;
    margin-left: auto;
}

.cc-i-header-links.has-flag,
.cc-i-content:hover .cc-i-header-links {
    display: block;
    margin-right: 0.5rem;
}

.cc-i-flag {
    width: 12px;
    height: 12px;
    display: block;
    opacity: 0.6;
    color: transparent;
    text-indent: -9999px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath d='M349.565 98.783C295.978 98.783 251.721 64 184.348 64c-24.955 0-47.309 4.384-68.045 12.013a55.947 55.947 0 0 0 3.586-23.562C118.117 24.015 94.806 1.206 66.338.048 34.345-1.254 8 24.296 8 56c0 19.026 9.497 35.825 24 45.945V488c0 13.255 10.745 24 24 24h16c13.255 0 24-10.745 24-24v-94.4c28.311-12.064 63.582-22.122 114.435-22.122 53.588 0 97.844 34.783 165.217 34.783 48.169 0 86.667-16.294 122.505-40.858C506.84 359.452 512 349.571 512 339.045v-243.1c0-23.393-24.269-38.87-45.485-29.016-34.338 15.948-76.454 31.854-116.95 31.854z'%3E%3C/path%3E%3C/svg%3E");
    border: none;
    cursor: pointer;
    outline: none;
}

.cc-i-header .cc-icon svg {
    width: 13px;
    height: 13px;
    fill: inherit;
    margin-right: 5px;
    margin-left: 5px;
    color: #687a86;
    padding-top: 5px;
    display: inline-block;
    vertical-align: middle;
}

.cc-i-reply {
    color: #687a86;
    font-weight: 500;
}

form[data-action] {
    margin: 0;
    padding: 0;
}


//
// Voting
//

.cc-v-up,
.cc-v-down {
    position: relative;
    padding: 0 5px;
    margin: 0 4px;
    color: #656c7a;
    text-indent: -9999px;
    overflow: hidden;
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    
    &::after {
        content: '';
        width: 10px;
        height: 11px;
        display: block;
        opacity: 0.7;
        min-height: 12px;
        background-repeat: no-repeat;
        transition: 0.3s ease;
    }

    &:hover:not(.disabled)::after {
        opacity: 1;
    }

    &.disabled {
        cursor: default;
        pointer-events: none;
        opacity: 0.4;
    }
}

.cc-v-down::before {
    content: '';
    border-left: 2px solid #e7e9ee;
    height: 12px;
    position: absolute;
    top: 0;
    left: -5px;
    cursor: default;
    pointer-events: none;
}

.cc-v-up::after  {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3Cpath d='M240.971 130.524l194.343 194.343c9.373 9.373 9.373 24.569 0 33.941l-22.667 22.667c-9.357 9.357-24.522 9.375-33.901.04L224 227.495 69.255 381.516c-9.379 9.335-24.544 9.317-33.901-.04l-22.667-22.667c-9.373-9.373-9.373-24.569 0-33.941L207.03 130.525c9.372-9.373 24.568-9.373 33.941-.001z'%3E%3C/path%3E%3C/svg%3E");
}

.cc-v-down::after  {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3Cpath d='M207.029 381.476L12.686 187.132c-9.373-9.373-9.373-24.569 0-33.941l22.667-22.667c9.357-9.357 24.522-9.375 33.901-.04L224 284.505l154.745-154.021c9.379-9.335 24.544-9.317 33.901.04l22.667 22.667c9.373 9.373 9.373 24.569 0 33.941L240.971 381.476c-9.373 9.372-24.569 9.372-33.942 0z'%3E%3C/path%3E%3C/svg%3E");
}


//
// Trashing
//

.cc-i-delete {
    background: none;
    border: 0;
    margin: 0;
    padding: 0;
    outline: none;
    cursor: pointer;
    font-size: inherit;
    line-height: inherit;
}





// ==========================================================================
// Form
// ==========================================================================

.cc-f-wrap {
    position: relative;
}

// .cc-i.cc-f {
//     margin-left: 0 !important;
// }

.cc-f-input,
.cc-f-textarea,
.cc-f-btn {
    appearance: none;
    font-family: inherit;
    border: 2px solid #dbdfe4;
    border-radius: 4px;
    background-color: #fff;
    color: #2a2e2e;
    box-shadow: none;
    display: block;
    font-size: 1rem;
    line-height: 1.5;
    padding: 0.4rem 0.6rem;
    position: relative;
    vertical-align: top;

    &::placeholder {
        color: lighten(#687a86, 20%);
    }

    &:active,
    &:focus {
        outline: 0;
    }
}

.cc-f-input,
.cc-f-textarea {
    // box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
    width: 100%;

    &:active,
    &:focus {
        border-color: darken(#dbdfe4, 10%);
    }
}

.cc-f-textarea {
    max-width: 100%;
    min-width: 100%;
    resize: vertical;
    max-height: 600px;
    min-height: 120px;
}

.cc-f-row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -0.25rem;
}

.cc-f-col {
    flex: 1 0 auto;
    padding: 0 0.25rem;
}

.cc-f-input {
    margin-bottom: 0.5rem;
}

.cc-f-btn {
    padding: 0;
    margin: 0.5rem 0 0 0;
    cursor: pointer;
    padding: 0.5rem 1rem;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 700;
    color: darken(#dbdfe4, 40%);
    background: #f6f8f9;

    &:hover,
    &:active {
        border-color: darken(#dbdfe4, 10%);
        // color: darken(#dbdfe4, 10%);
    }

    &.loading {
        color: transparent !important;
        min-height: 1rem;
        pointer-events: none;
        position: relative;

        &::after {
            animation: cc-loading 0.5s infinite linear;
            border: 0.1rem solid #000;
            border-radius: 50%;
            border-right-color: transparent;
            border-top-color: transparent;
            content: "";
            display: block;
            height: 1rem;
            left: 50%;
            margin-left: -0.5rem;
            margin-top: -0.5rem;
            position: absolute;
            top: 50%;
            width: 1rem;
            z-index: 1;
        }
    }
}

//
// Custom Fields
//

.cc-f-label {
    color: #656c7a;
    font-size: 90%;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.cc-f-label-i {
    color: lighten(#656c7a, 10%);
    font-size: 80%;
    font-weight: 500;
    margin-bottom: 0.5rem;
}

.cc-f-label-r {
    color: #fb4143;
}

.cc-f-select {
    background: #fff url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 4'%3E%3Cpath fill='%23333F48' fill-rule='evenodd' d='M7.484.643a.23.23 0 0 1-.067.154l-3.12 3.12a.23.23 0 0 1-.154.067.23.23 0 0 1-.154-.067L.869.797A.23.23 0 0 1 .8.643.23.23 0 0 1 .868.489l.335-.335a.218.218 0 0 1 .154-.067.23.23 0 0 1 .154.067l2.632 2.632L6.775.154a.23.23 0 0 1 .154-.067.23.23 0 0 1 .154.067l.334.335c.04.04.067.1.067.154z'/%3E%3C/svg%3E") no-repeat;
    background-position: right 0.75rem center;
    background-size: 0.7rem;
    padding-right: 2rem;
}


//
// Errors
//

.cc-e {
    color: #fb4143;
    font-size: 80%;
    font-weight: 500;
    margin: 0.5rem 0;
}


//
// Notice
//

.cc-n {
    color: #2972fa;
    font-size: 80%;
    font-weight: 500;
    margin: 0.5rem 0;
}


//
// Widget Header
//

.cc-w-h {
    border-bottom: 1px solid #dbdfe4;
    margin-bottom: 1rem;
}

//
// Subscribing
//

.cc-sub {
    color: #656c7a;
    font-size: 80%;
    font-weight: 600;
    transition: color 0.2s ease;
    display: inline-flex;
    align-items: center;

    &.is-subscribed,
    &.is-subscribed:hover,
    &.is-subscribed:active {
        color: #5cb767;
    }

    &:hover,
    &:active {
        color: darken(#656c7a, 15%);
    }
}

.cc-sub .cc-icon-envelope svg {
    width: 17px;
    height: 19px;
    fill: inherit;
    margin-right: 5px;
}

.cc-sub .cc-icon-check svg {
    width: 12px;
    height: 14px;
    fill: inherit;
    margin-left: 7px;
    opacity: 0;
    transition: opacity 0.2s ease;
}

.cc-sub.is-subscribed .cc-icon-check svg {
    opacity: 1;
}


}
