{% set label = element.label ?: field.name %}
{% set instructions = element.instructions ?: field.instructions %}
{% set required = element.required ?? field.required %}

{# If we're hiding the label #}
{% if label == '__blank__' %}
    {% set label = null %}
    {% set instructions = null %}
{% endif %}

{% if label and settings.showCustomFieldNames %}
    <div class="cc-f-label">{{ label }} {% if required %}<span class="cc-f-label-r">*</span>{% endif %}</div>
{% endif %}

{% if instructions and settings.showCustomFieldInstructions %}
    <div class="cc-f-label-i">{{ instructions }}</div>
{% endif %}

{% set type = className(field) | split('\\') | last | kebab %}

{{ commentsInclude(['form-fields/fields/' ~ type, 'form-fields/fields/plain-text'], { field: field, required: required }, false, true) }}

<div data-role="errors" class="cc-e"></div>
