<div class="cc-f-cf">
    {% for tab in fieldLayout.getTabs() %}
        {% for element in tab.elements %}
            {% if className(element) == 'craft\\fieldlayoutelements\\CustomField' %}
                <div class="cc-f-row">
                    <div class="cc-f-col">
                        {{ commentsInclude('form-fields/field', { field: element.getField() }) }}
                    </div>
                </div>
            {% elseif className(element) == 'verbb\\comments\\fieldlayoutelements\\CommentsField' %}
                <div class="cc-f-row">
                    <div class="cc-f-col">
                        {{ commentsInclude('form-fields/elements/comment') }}
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    {% endfor %}
</div>