{% extends 'verbb-base/_layouts/settings' %}

{% import '_includes/forms' as forms %}
{% import 'verbb-base/_macros' as macros %}

{% requireAdmin %}

{% set crumbs = [
    { label: 'Settings' | t('app'), url: url('settings') },
    { label: 'Plugins' | t('app'), url: url('settings/plugins') },
    { label: craft.comments.getPluginName() | t('comments'), url: url('comments/settings') },
] | merge(crumbs ?? []) %}

{% set pageTabs = pageTabs ?? {
    general: { title: 'General Settings' | t('comments'), url: url('comments/settings') },
    notifications: { title: 'Notifications' | t('comments'), url: url('comments/settings/notifications') },
    voting: { title: 'Voting' | t('comments'), url: url('comments/settings/voting') },
    flagging: { title: 'Flagging' | t('comments'), url: url('comments/settings/flagging') },
    templatesHeading: { heading: 'Templates' | t('comments') },
    'comments-form': { title: 'Comments Form' | t('comments'), url: url('comments/settings/comments-form') },
    'templates-default': { title: 'Default Templates' | t('comments'), url: url('comments/settings/templates-default') },
    'templates-custom': { title: 'Custom Templates' | t('comments'), url: url('comments/settings/templates-custom') },
    securityHeading: { heading: 'Security' | t('comments') },
    security: { title: 'Security & Spam' | t('comments'), url: url('comments/settings/security') },
    permissions: { title: 'Permissions' | t('comments'), url: url('comments/settings/permissions') },
} %}

{% set pageTitle = pageTitle ?? false %}
{% if title is not defined and pageTitle %}
    {% set title = pageTitle %}
{% endif %}

{% block settingsMeta %}
    {{ hiddenInput('pluginHandle', 'comments') }}
{% endblock %}
