{%- set hasOptgroups = false -%}

<select class="cc-f-input cc-f-select" name="fields[{{ field.handle }}]" {% if required %}required{% endif %}>
    {% for key, option in field.options %}
        {% if option.optgroup is defined %}
            {% if hasOptgroups %}
                </optgroup>
            {% else %}
                {% set hasOptgroups = true %}
            {% endif %}
            <optgroup label="{{ option.optgroup }}">
        {% else %}
            {% set optionLabel = (option.label is defined ? option.label : option) %}
            {% set optionValue = (option.value is defined ? option.value : key) %}
            {% set optionDisabled = (option.disabled is defined ? option.disabled : false) %}
            <option value="{{ optionValue }}"{% if optionDisabled %} disabled{% endif %}>{{ optionLabel }}</option>
        {% endif %}
    {% endfor %}
    {% if hasOptgroups %}
        </optgroup>
    {% endif %}
</select>
