{% import "_includes/forms" as forms %}

{{ forms.lightswitchField({
    first: true,
    label: 'Enable flagging' | t,
    instructions: 'Allow your users to flag a comment as inappropriate, spam, or any other reason.' | t,
    name: 'allowFlagging',
    on: settings.allowFlagging,
}) }}

{{ forms.textField({
    label: "Flagged comments threshold" | t,
    id: 'flaggedCommentLimit',
    name: 'flaggedCommentLimit',
    instructions: "Users can flag a comment as inappropriate. After the provided amount of flags are received for a comment, the 'isFlagged' property for the comment will be true. You can then decide how to handle a flagged comment." | t,
    value: settings.flaggedCommentLimit,
}) }}