{% import "_includes/forms" as forms %}

{{ forms.lightswitchField({
	first: true,
	label: 'Allow anonymous comments',
	instructions: 'Anonymous users can post a comment. Their name and email will be required.'|t,
	name: 'allowAnonymous',
	on: settings.allowAnonymous,
}) }}

{{ forms.lightswitchField({
	label: 'Comments require moderation',
	instructions: 'All comments require manual approval before being publicly visible.'|t,
	name: 'requireModeration',
	on: settings.requireModeration,
}) }}

<hr>

{{ forms.textField({
	label: "Template folder override"|t,
	id: 'templateFolderOverride',
	name: 'templateFolderOverride',
	instructions: "For greater control over your comments and how they are displayed, you can provide a path to your own templates in the below folder."|t,
	value: settings.templateFolderOverride,
}) }}

<hr>

{{ forms.textField({
	label: "Flagged comments threshold"|t,
	id: 'flaggedCommentLimit',
	name: 'flaggedCommentLimit',
	instructions: "Users can flag a comment as inappropriate. After the provided amount of flags are received for a comment, the 'isFlagged' property for the comment will be true. You can then decide how to handle a flagged comment."|t,
	value: settings.flaggedCommentLimit,
}) }}

<hr>
