{% requireAdmin %}

{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% includeCssResource 'comments/css/comments.css' %}
{% includeJsResource 'comments/js/comments.js' %}

{% set title = "Settings"|t %}

{% set tabs = {
    comments: { label: "Comments"|t, url: url('comments') },
    settings: { label: "Settings"|t, url: url('comments/settings') },
} %}

{% set selectedTab = 'settings' %}

{% set plugin = craft.plugins.getPlugin('comments') %}
{% set settings = craft.comments.getSettings() %}

{% block content %}

	<div class="pane first tableview settings-tabs">
		<nav id="settings-tabs" class="tabs">
			<ul>
				<li class="label">Settings</li>
				<li><a id="settings-tab-general" class="tab sel" href="#settings-general" tabindex="0">General</a></li>
				<li><a id="settings-tab-templates" class="tab" href="#settings-templates" tabindex="1">Templates</a></li>
				<li><a id="settings-tab-social" class="tab" href="#settings-social" tabindex="2">Social Media</a></li>
				<li><a id="settings-tab-security" class="tab" href="#settings-security" tabindex="3">Security</a></li>
				{#<li><a id="settings-tab-users" class="tab" href="#settings-users" tabindex="4">Users</a></li>#}
			</ul>
		</nav>
	</div>

	<form method="post" accept-charset="UTF-8" data-saveshortcut>
		<input type="hidden" name="action" value="plugins/savePluginSettings">
		<input type="hidden" name="pluginClass" value="{{ plugin.classHandle }}">
		{{ getCsrfInput() }}

		{% namespace 'settings' %}
			<div id="general">
				{% include 'comments/settings/general' %}
			</div>

			<div id="templates" class="hidden">
				{% include 'comments/settings/templates' %}
			</div>

			<div id="social" class="hidden">
				{% include 'comments/settings/social' %}
			</div>

			<div id="security" class="hidden">
				{% include 'comments/settings/security' %}
			</div>

			{#<div id="users" class="hidden">
				{% include 'comments/settings/users' %}
			</div>#}

		{% endnamespace %}

		<div class="buttons">
			<input class="btn submit" type="submit" value="{{ 'Save'|t }}">
		</div>
	</form>
{% endblock %}
