<div class="comment-container">
	<span itemprop="creator" itemscope itemtype="http://schema.org/Person">
		<div class="comment-image" itemprop="image">
			{% if comment.userId %}
				{% set photo = craft.users.id(comment.userId).first().photoUrl %}

				{% if photo %}
					<img src="{{ photo }}" />
				{% else %}
					<img src="{{ resourceUrl('/images/user.gif') }}" />
				{% endif %}
			{% else %}
				<img src="{{ resourceUrl('/images/user.gif') }}" />
			{% endif %}
		</div>
	</span>

	<div class="comment-text">
		<span class="comment-heading">
			<span itemprop="creator" itemscope itemtype="http://schema.org/Person">
				<span class="title" itemprop="name">
					{% if comment.userId %}
						{{ craft.users.id(comment.userId).first().fullName }}
					{% else %}
						{{ comment.name }}
					{% endif %}
				</span>
			</span>

			<span class="meta">
				<time itemprop="commentTime" datetime="{{ comment.dateCreated | date('c') }}">
					{{ comment.dateCreated | date('M jS, Y') }}
				</time>
			</span>

			{% if currentUser %}
				<div class="dropdown options-dropdown">
					<a href="#" class="dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">Options <span class="caret"></span></a>

					<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
						{% if comment.userId and not comment.isClosed %}
							<li role="presentation">
								<a href="#" class="comment-edit">
									<span class="glyphicon glyphicon-edit"></span>Edit
								</a>
							</li>

							<li role="presentation">
								<a href="{{ comment.deleteActionUrl }}" class="comment-delete">
									<span class="glyphicon glyphicon-remove"></span>Delete
								</a>
							</li>
						{% endif %}

						<li role="presentation">
							{% if comment.flagActionUrl %}
								<a href="{{ comment.flagActionUrl }}" class="comment-flag">
									<span class="glyphicon glyphicon-flag"></span>Flag as inappropriate
								</a>
							{% else %}
								<span class="static-label comment-flag">
									<span class="glyphicon glyphicon-flag"></span>Flagged as inappropriate
								</span>
							{% endif %}
						</li>
					</ul>
				</div>
			{% endif %}

			<div class="dropdown share-dropdown">
				<a href="#" class="dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">Share <span class="caret"></span></a>

				<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
					<li role="presentation">
						<a href="http://twitter.com/share?url={{ craft.request.url }}#comment-single-{{ comment.id }}" target="_blank">
							<span class="fa fa-twitter"></span>Twitter
						</a>
					</li>

					<li role="presentation">
						<a href="https://www.facebook.com/dialog/share?app_id=145634995501895&display=popup&href={{ craft.request.url }}#comment-single-{{ comment.id }}&redirect_uri={{ craft.request.url }}#comment-single-{{ comment.id }}" target="_blank">
							<span class="fa fa-facebook"></span>Facebook
						</a>
					</li>

					<li role="presentation">
						<a href="{{ craft.request.url }}#comment-single-{{ comment.id }}" target="_blank">
							<span class="glyphicon glyphicon-link"></span>Permalink
						</a>
					</li>
				</ul>
			</div>

		</span>

		<div class="comment-content" itemprop="commentText">
			{% if comment.isFlagged %}
				<p>[Comment marked as inappropriate]</p>
			{% elseif comment.isPoorlyRated %}
				<p>[Comment hidden due to low rating]</p>
			{% else %}
				<p>{{ comment.comment | nl2br }}</p>
			{% endif %}
		</div>

		<div class="meta-buttons">
			<div class="comment-votes">
				<span class="count">{{ comment.voteCount }} votes</span>

				{% if comment.canUpVote %}
					<a href="{{ comment.upvoteActionUrl }}" class="comment-vote-up">
						<span class="glyphicon glyphicon-chevron-up"></span>
					</a>
				{% endif %}

				{% if comment.canDownVote %}
					<a href="{{ comment.downvoteActionUrl }}" class="comment-vote-down">
						<span class="glyphicon glyphicon-chevron-down"></span>
					</a>
				{% endif %}
			</div>

			{% if not comment.isClosed %}
				<a href="#" class="comment-reply" itemprop="replyToUrl">
					<span class="glyphicon glyphicon-share-alt"></span>
					Reply
				</a>
			{% endif %}
			
			<a href="#" class="comment-toggle">
				<span class="glyphicon glyphicon-comment"></span>
				{{ comment.descendants | length }} comments
			</a>
		</div>
	</div>
</div>

