{% do view.registerAssetBundle('verbb\\comments\\assetbundles\\AdminAsset') %}

<div class="comments-widget">
    {% if comments | length %}
        {% for comment in comments %}
            <div class="comment-block">
                <span class="status {{ comment.status }}"></span>

                {% set title = [
                    comment.getOwner() ?? '[Deleted element]' | t('comments'),
                    comment.getAuthor(),
                ] | filter %}

                <a href="{{ comment.getCpEditUrl() }}">
                    <span class="username">{{ title | join(' - ') }}</span>
                    <small>{{ comment.dateCreated | timestamp('short') }}: {{ comment.getExcerpt(0, 100) }}</small>
                </a>
            </div>
        {% endfor %}
    {% else %}
        <p>{{ 'No comments.' | t('comments') }}</p>
    {% endif %}
</div>