@import url("//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css");
@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");

body {
	background: 0 0;
	color: #3f4549;
	font-family: "Helvetica Neue",arial,sans-serif;
	font-size: 15px;
	-webkit-font-smoothing: antialiased;
}

.comments-box {
    border: 1px solid #bbb;
    margin: 20px;
}

.comments-box .comment-input {
    width: 80%;
}

.comments-box .comment-input-btn {
    width: 18%;
}

.comments-box .form-group * {
    width: 100%;
}

.comments-box .email-input,
.comments-box .name-input {
    width: 40%;
    margin-bottom: 10px;
}

.comments-list {
	margin: 0;
	padding: 0;
    list-style: none;
    overflow: auto;
}

.comment-single .comment-single {
	padding-left: 40px;
}

.comment-single .comment-container {
	padding: 15px 10px;
	border-bottom: 1px solid #ddd;
}

.comments-list li .comment-text,
.comments-list li .comment-image {
    display: block;
}

.comments-list li .comment-text {
    padding-left: 50px;
}

.comments-list .comment-form {
	display: none;
}

.comment-image {
    width: 40px;
    margin-right: 10px;
    height: 40px;
    float: left;
}

.comment-image img {
    width: 100%;
    border-radius: 50%;
}

.comment-text p {
    margin: 0;
}

.comment-heading {
    color: #aaa;
    font-size: 12px;
	margin-bottom: 5px;
	display: block;
}

.comment-heading .title {
	font-weight: 700;
	text-decoration: none;
	color: #288ce4;
	font-size: 13px;
}

.comment-heading .meta {
	margin-left: 5px;
	font-weight: 500;
	font-size: 12px;
	color: #a5b2b9;
}

.comment-single .comment-form {
	margin: 20px 0 0 0;
	padding-bottom: 0;
	border-bottom: 1px solid #ddd;
	padding: 10px;
	margin: 0;
}

.comment-form-container {
	margin: 20px;
}

.meta-buttons {
	margin-top: 10px;
}

.meta-buttons a {
    font-weight: bold;
    font-size: 11px;
	padding: 0 15px 0 0;
	color: #288ce4;
}

.meta-buttons .comment-votes {
	display: inline-block;
	margin-right: 15px;
}

.meta-buttons .comment-votes a {
	padding: 0 0 0 2px;
}

.meta-buttons .comment-votes .count {
	color: #a5b2b9;
	font-weight: 500;
	font-size: 13px;
	margin-right: 2px;
}

.meta-buttons .static-label {
	font-weight: bold;
	font-size: 11px;
	color: #a5b2b9;
}



.comment-heading .dropdown {
    float: right;
    margin-left: 20px;
}

.comment-heading .dropdown-toggle {
    font-weight: bold;
    font-size: 11px;
    color: #288ce4;
}

.comment-heading .dropdown-menu {
    right: 0;
    left: auto;
    min-width: 60px;
}

.comment-heading .dropdown-menu > li > a {
    font-weight: bold;
    font-size: 11px;
    color: #288ce4;
    padding: 5px 10px;
}

.comment-heading .dropdown-menu > li > span.comment-flag .glyphicon,
.comment-heading .dropdown-menu > li > a .fa,
.comment-heading .dropdown-menu > li > a .glyphicon {
    padding-right: 5px;
    width: 15px;
    text-align: center;
}

.comment-heading .dropdown-menu > li > span.comment-flag {
    display: block;
    white-space: nowrap;
    color: #aaa;
    font-weight: bold;
    font-size: 11px;
    padding: 5px 10px;
}



