{% if comment.can('showAvatar') %}
    <figure class="cc-i-figure" itemprop="creator" itemscope itemtype="http://schema.org/Person">
        <p class="cc-i-image" itemprop="image">
            {% set avatar = comment.getAvatar() %}

            {% if avatar %}
                {% if avatar is iterable %}
                    <img src="{{ avatar.url({ width: 64, height: 64, mode: 'fit' }) }}" />
                {% else %}
                    <img src="{{ avatar }}" />
                {% endif %}
            {% else %}
                <span class="cc-i-image-icon"></span>
            {% endif %}
        </p>
    </figure>
{% endif %}