<div class="cc-i-footer">
    {% if comment.can('vote') %}
        <span class="cc-v" data-role="voting">
            <span class="cc-v-count" data-role="likes">{{ comment.votes ?: '' }}</span>

            <form data-action="upvote" role="form" method="post" accept-charset="UTF-8">
                <input type="hidden" name="action" value="comments/comments/vote">
                <input type="hidden" name="siteId" value="{{ comment.siteId }}">
                <input type="hidden" name="commentId" value="{{ comment.id }}">
                <input type="hidden" name="upvote" value="true">
                {{ csrfInput() }}

                <button type="submit" class="cc-v-up"></button>
            </form>

            <form data-action="downvote" role="form" method="post" accept-charset="UTF-8">
                <input type="hidden" name="action" value="comments/comments/vote">
                <input type="hidden" name="siteId" value="{{ comment.siteId }}">
                <input type="hidden" name="commentId" value="{{ comment.id }}">
                <input type="hidden" name="downvote" value="true">
                {{ csrfInput() }}

                <button type="submit" class="cc-v-down"></button>
            </form>
        </span>
    {% endif %}

    <div class="cc-ll">
        {% if comment.can('reply') %}
            <span class="cc-ll-i">
                <a href="#" class="cc-i-reply" data-action="reply" itemprop="replyToUrl">
                    {{ 'Reply' | t('comments') }}
                </a>
            </span>
        {% endif %}

        {% if comment.can('edit') %}
            <span class="cc-ll-i">
                <a href="#" class="cc-i-edit" data-action="edit">
                    {{ 'Edit' | t('comments') }}
                </a>
            </span>
        {% endif %}

        {% if comment.can('trash') %}
            <span class="cc-ll-i">
                <form data-action="delete" role="form" method="post" accept-charset="UTF-8">
                    <input type="hidden" name="action" value="comments/comments/trash">
                    <input type="hidden" name="siteId" value="{{ comment.siteId }}">
                    <input type="hidden" name="commentId" value="{{ comment.id }}">
                    {{ csrfInput() }}

                    <button type="submit" class="cc-a cc-i-delete">{{ 'Delete' | t('comments') }}</button>
                </form>
            </span>
        {% endif %}

        {% if currentUser and settings.notificationSubscribeCommentEnabled %}
            {% set subscribed = craft.comments.isSubscribed(comment.owner, comment) %}

            <span class="cc-ll-i">
                <a class="cc-sub {{ subscribed ? 'is-subscribed' }}" href="#" rel="nofollow" data-action="subscribe" title="{{ 'Subscribe to get email updates for this discussion' | t('comments') }}">

                    <span class="cc-icon cc-icon-envelope">
                        <svg aria-hidden="true" focusable="false" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M464 64H48C21.49 64 0 85.49 0 112v288c0 26.51 21.49 48 48 48h416c26.51 0 48-21.49 48-48V112c0-26.51-21.49-48-48-48zm0 48v40.805c-22.422 18.259-58.168 46.651-134.587 106.49-16.841 13.247-50.201 45.072-73.413 44.701-23.208.375-56.579-31.459-73.413-44.701C106.18 199.465 70.425 171.067 48 152.805V112h416zM48 400V214.398c22.914 18.251 55.409 43.862 104.938 82.646 21.857 17.205 60.134 55.186 103.062 54.955 42.717.231 80.509-37.199 103.053-54.947 49.528-38.783 82.032-64.401 104.947-82.653V400H48z"></path></svg>
                    </span>

                    <span>{{ 'Subscribe' | t('comments') }}</span>

                    <span class="cc-icon cc-icon-check">
                        <svg aria-hidden="true" focusable="false" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z"></path></svg>
                    </span>
                </a>
            </span>
        {% endif %}
    </div>
</div>