{% set fieldLayout = craft.app.fields.getLayoutByType('verbb\\comments\\elements\\Comment') %}

{% set containsFileInput = false %}

{% for field in fieldLayout.getFields() %}
    {% if className(field) == 'craft\\fields\\Assets' %}
        {% set containsFileInput = true %}
    {% endif %}
{% endfor %}

<article class="cc-i cc-f" data-role="form">
    {% if settings.showAvatar %}
        <figure class="cc-i-figure">
            <p class="cc-i-image">
                {% set avatar = craft.comments.getAvatar() %}

                {% if avatar %}
                    {% if avatar is iterable %}
                        <img src="{{ avatar.url({ width: 64, height: 64, mode: 'fit' }) }}" />
                    {% else %}
                        <img src="{{ avatar }}" />
                    {% endif %}
                {% else %}
                    <span class="cc-i-image-icon"></span>
                {% endif %}
            </p>
        </figure>
    {% endif %}

    <div class="cc-i-wrap">
        <form class="cc-f-wrap" role="form" method="post" accept-charset="UTF-8" {% if containsFileInput %}enctype="multipart/form-data"{% endif %}>
            <input type="hidden" name="action" value="comments/comments/save">
            <input type="hidden" name="elementId" value="{{ element.id }}">
            <input type="hidden" name="siteId" value="{{ element.siteId }}">
            <input type="hidden" name="newParentId" value="">
            <input type="hidden" name="commentId" value="">
            {{ csrfInput() }}
            {{ craft.comments.protect() }}

            {% if not currentUser and settings.allowGuest and (settings.guestShowEmailName or settings.guestRequireEmailName) %}
                <div class="cc-f-row">
                    <div class="cc-f-col">
                        <input class="cc-f-input" name="fields[name]" type="text" placeholder="{{ 'Your name' | t('comments') }}">
                        <div data-role="errors" class="cc-e"></div>
                    </div>

                    <div class="cc-f-col">
                        <input class="cc-f-input" name="fields[email]" type="email" placeholder="{{ 'Your email' | t('comments') }}">
                        <div data-role="errors" class="cc-e"></div>
                    </div>
                </div>
            {% endif %}

            {{ commentsInclude('form-fields') }}

            <div data-role="notice" class="cc-n"></div>

            <button class="cc-f-btn" type="submit">{{ 'Post comment' | t('comments') }}</button>
        </form>
    </div>
</article>
