{% requireAdmin %}

{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% includeCssResource 'comments/css/comments.css' %}
{% includeJsResource 'comments/js/comments.js' %}

{% set title = "Permissions"|t %}

{% set tabs = {
    comments: { label: "Comments"|t, url: url('comments') },
    permissions: { label: "Permissions"|t, url: url('comments/permissions') },
    settings: { label: "Settings"|t, url: url('comments/settings') },
} %}

{% set selectedTab = 'permissions' %}

{% set plugin = craft.plugins.getPlugin('comments') %}

{% set groups = craft.fields.getAllGroups('id') %}

{% set elementType = craft.elements.getElementType('Comments_Comment') %}


{% set content %}
<form method="post" accept-charset="UTF-8" data-saveshortcut="1">
	<input type="hidden" name="action" value="plugins/savePluginSettings">
	<input type="hidden" name="pluginClass" value="{{ plugin.classHandle }}">
	{{ getCsrfInput() }}

	{% namespace 'settings' %}
		
		<div id="permissions" class="field">
			<h2>Commenting permissions</h2>
			<p>Select which elements you'd like to enable commenting on. Uncheck an element to disable comments.</p>
			<p>Unchecking a top-level element type (Assets, Entries) will disable comments on any new elements created for this element type. </p>

		    {% for element in craft.elements.getAllElementTypes() %}
		    	{% set elements = craft.comments.elements(element.classHandle) %}

		    	{% if elements | length > 0 and element.classHandle != 'Comments_Comment' and element.classHandle != 'GlobalSet' %}
			    	{% set settingsValue = (settings.permissions) ? settings.permissions[element.classHandle] : {} %}

		    		<h3>
		    			{{ forms.checkbox({
		    				class: 'elementTypeCheckbox',
							label: element.name,
							name: 'permissions['~element.classHandle~'][*]',
							checked: (settingsValue['*'] is defined) ? settingsValue['*'] : true,
						}) }}
					</h3>

		            <ul id="{{ element.classHandle }}-nested" class="indent">
			            <li>
			        		{{ forms.checkbox({
			    				class: 'allElementCheckbox',
								label: 'All ' ~ element.name,
								checked: true,
							}) }}
			        	</li>

			            {% for el in elements %}
			            	{% if el.title is defined and el.title != '' %}
				                <li>
			                		{{ forms.checkbox({
					    				class: 'elementCheckbox',
										label: el.title,
										name: 'permissions['~element.classHandle~']['~el.id~']',
										checked: (settingsValue[el.id] is defined) ? settingsValue[el.id] : (settingsValue['*'] is defined and settingsValue['*'] == '') ? false : true,
									}) }}
			                	</li>
			            	{% endif %}
			            {% endfor %}
		            </ul>
		        {% endif %}
		    {% endfor %}
		</div>

	{% endnamespace %}

	<hr>

	<div class="buttons">
		<input type="submit" class="btn submit" value="{{ 'Save'|t }}">
	</div>
</form>
{% endset %}








