{% requireAdmin %}

{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% includeCssResource 'comments/css/comments.css' %}
{% includeJsResource 'comments/js/comments.js' %}

{% set title = "Settings"|t %}

{% set tabs = {
    comments: { label: "Comments"|t, url: url('comments') },
    permissions: { label: "Permissions"|t, url: url('comments/permissions') },
    settings: { label: "Settings"|t, url: url('comments/settings') },
} %}

{% set selectedTab = 'settings' %}

{% set plugin = craft.plugins.getPlugin('comments') %}

{% block content %}
	<form method="post" accept-charset="UTF-8" data-saveshortcut>
		<input type="hidden" name="action" value="plugins/savePluginSettings">
		<input type="hidden" name="pluginClass" value="{{ plugin.classHandle }}">
		{{ getCsrfInput() }}

		{% namespace 'settings' %}
			{{ plugin.getSettingsHtml() | raw }}
		{% endnamespace %}

		<div class="buttons">
			<input class="btn submit" type="submit" value="{{ 'Save'|t }}">
		</div>
	</form>
{% endblock %}
