<ul class="comments-list">
    {% nav comment in comments %}
        <li class="comment-single" id="comment-{{ comment.id }}" data-id="{{ comment.id }}" itemprop="comment" itemscope itemtype="http://schema.org/UserComments">
            {# Get the comment template depending on status #}              
            {% include '_forms/templates/comment-' ~ comment.status %}

            {# An inline form for easy reply #}
            {% include '_forms/templates/form' %}

            {% ifchildren %}
                <ul class="comments-list">
                    {% children %}
                </ul>
            {% endifchildren %}
        </li>
    {% endnav %}
</ul>
